[Desktop Entry]
Name=Document Search
Name[tr]=Belge Ara
GenericName=Document Search
GenericName[tr]=Belge Ara
Comment=Search your documents based on their content
Comment[tr]=İçeriklerine göre belgeleriniz arasında arama yapın
Exec=docsearch
Icon=/usr/share/icons/hicolor/scalable/apps/docsearch.png
Terminal=false
Type=Application
Categories=GTK;System;
StartupNotify=true
Keywords=document;file;pdf;
Keywords[tr]=belge;dosya;pdf;
