Source: pardus-docsearch
Section: x11
Priority: optional
Maintainer: Heydar Ismayilli <heyderismayilli092@gmail.com>
Build-Depends: debhelper-compat (= 13), dh-python, python3-all, python3-setuptools
Standards-Version: 0.0.1
Homepage: https://github.com/heyderismayilli092/pardus-docsearch

Package: pardus-docsearch
Architecture: all
Depends: python3-pymupdf
Description: Pardus Document Search
  A search application that provides quick access to the documents and text files you want on your computer by searching their contents
